@import "header";
@import "about";
@import "experience";
@import "process";
@import "video";
@import "footer";
@import "media";

$color-black: #000;
$color-white: #FFF;
$color-blue: #34547A;

$color-navbar-first-link: #34547A;
$color-description: #727272;

$color-bg-container: #EEEFF1;
$color-bg-about: #F9F9F9;

$font-family: "Roboto", sans-serif;
$font-size: 16px;

$container-primary: 1110px;
$container-sm: 540px;
$gap: 20px;
$gap-sm: 10px;
$gap-lg: 40px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-size;
  line-height: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: min(100% - $gap-lg, $container-primary);
  margin-inline: auto;
}

.container--sm {
  width: min(100% - $gap-lg, $container-sm);
}